[Unit]
Description=Collect reboot-needed information for admin notification

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/admin-reboot-check-collect
